@model Elympic_Games.Web.Data.Entities.Match

@{
    ViewData["Title"] = "Match Details";
}

<h1>Match Details</h1>

<div>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.StartDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.StartDate)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.EndDate)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.EndDate)
                </dd>
                <dt class="col-sm-4">
                    Team One
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.TeamOne.Name) - @Html.DisplayFor(model => model.TeamOne.Country.Name)
                </dd>
                <dt class="col-sm-4">
                    Team Two
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.TeamTwo.Name) - @Html.DisplayFor(model => model.TeamTwo.Country.Name)
                </dd>    
                <dt class="col-sm-4">
                    Event
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Event.Name)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Manage" class="btn btn-success">Back to List</a>
</div>