@model IEnumerable<Elympic_Games.Web.Data.Entities.Match>

@{
    ViewData["Title"] = "Manage Matches";
}

<h2>Manage Matches</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Team One
            </th>
            <th>
                Team Two
            </th>
            <th>
                Event
            </th>
            <th>
                Game
            </th>
            <th class="w-25">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamOne.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamTwo.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.GameType.Name)
                </td>
                <td>
                    @if (item.TeamOneScore == 0 && item.TeamTwoScore == 0)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Edit <i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="InsertScores" asp-route-id="@item.Id" class="btn btn-primary">Insert Scores <i class="fa-solid fa-circle-info"></i></a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details <i class="fa-solid fa-circle-info"></i></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>