@model IEnumerable<Elympic_Games.Web.Data.Entities.TicketOrderDetail>
@{
    ViewData["Title"] = "Your Order Details";
    var totalPrice = Model.Sum(item => item.Price);
}

<h2>Order Details</h2>


<p>
    <a asp-action="Index" class="btn btn-secondary" id="btnConfirm">Ticket Orders History <i class="fa-solid fa-clock"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Event
            </th>
            <th>
                Game
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket.TicketType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket.Event.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket.Event.GameType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket.TicketType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
        }

        <tr>
            <td colspan="3" class="text-end"><strong>Total:</strong></td>
            <td>@totalPrice.ToString("C")</td>
            <td></td>
        </tr>
    </tbody>
</table>